<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-8 offset-sm-2">
            
            <form [formGroup]='f' (ngSubmit)='onSubmit(f)' class="col-sm-12">
                <h2>Edicion de la tarjeta # {{ creditCard.creditCardNumber }}</h2>
                <h5>Información de la tarjeta</h5>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="creditCardNumber"># Tarjeta</label>
                        <input formControlName='creditCardNumber' placeholder="5555095928349148" id="creditCardNumber" type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="cvc">CVC</label>
                        <input formControlName='cvc' placeholder="434" id="cvc" type="number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="expirateDate">Fecha de vencimiento</label>
                        <input formControlName='expirateDate' id="expirateDate" type="date" class="form-control">
                    </div>
                </div>

                <button class="btn btn-outline-primary btn-block" type="submit" name="action">Actualizar
                </button>

            </form>
        </div>
    </div>
</div>