<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink='/' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}" 
          class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
        <a *ngIf="isLogged && isInternalUser" routerLink='/dashboard' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}" 
          class="nav-link" href="#">Dashboard</a>
        <a *ngIf="!isLogged" routerLink='/application/new' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}" 
          class="nav-link" href="#">Solicitud de tarjetas</a>
        <a *ngIf='isLogged && isInternalUser' routerLink='/application' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Listado de solicitudes</a>
          <a *ngIf='isLogged && !isInternalUser' routerLink='/my-cards' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Mis tarjetas</a>
        <a *ngIf='isLogged && isInternalUser' routerLink='/cards' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Listado de tarjetas</a>
        <a *ngIf='isLogged' routerLink='/transactions' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Transacciones</a>
          <a *ngIf='isLogged && isInternalUser' routerLink='/users' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Usuarios</a>
          <a *ngIf='!isLogged' routerLink='/login' 
          routerLinkActive='active' 
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-link" href="#">Ingreso</a> 
      </div>
    </div>
    <button *ngIf='isLogged' (click)="logout()" type="button" class="btn btn-outline-danger float-right">Salir</button>
</nav>